body {
  height: 100vh;
  border: 3px solid red;
  box-sizing: border-box;
}

nav {
  background-color: pink;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: 50px;
}

ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0px;
  padding: 0px;
  justify-content: space-between;
  width: 150px;
}

.logo {
  align-self: center;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  background-color: rgb(189, 189, 246);
  font-size: x-large;
  /* padding: 150px; */
  height: calc(100% - 140px);
  box-sizing: border-box;
}

main > div {
  border: 2px solid gold;
  width: 50%;
}
.geo-location {
  align-self: baseline; /* to move text to the left */
  font-size: x-small;
  border: 3px solid blue;
}
strong {
  display: block;
  border: 3px solid green;
}
footer {
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: rgb(230, 230, 155);
  padding: 10px;
  height: 50px;
}

/* .left-aligned {
  text-align: left;
} */
