body {
  height: 100vh;
  border: 3px solid red;
  box-sizing: border-box;
}

nav {
  background-color: pink;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: 50px;
}

ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0px;
  padding: 0px;
  justify-content: space-between;
  width: 150px;
}

.logo {
  display: flex;
}

a {
  text-decoration: none;
  color: black;
}

.main-content {
  border: 3px solid black;
  background-color: rgb(189, 189, 246);

  font-size: x-large;
  /* padding: 100px; */
  height: calc(100% - 140px);
  box-sizing: border-box;
}

.geo-location {
  font-size: x-small;
}
strong {
  display: block;
  border: 3px solid green;
}
footer {
  background-color: rgb(230, 230, 155);
  text-align: right;
  padding: 10px;
  height: 50px;
}

.left-aligned {
  text-align: left;
}
